.banner{
   background-image: url("images/banner/banner2.png");
   background-repeat: no-repeat;
   background-size: cover;
   height: 600px;
   width: 100%;
}
.banner-text{
    padding-top: 90px;
    text-align: end;
     margin-right: 150px;
     margin-left:  600px;
}
.banner-title{
    font-weight: 900;
    font-size: 50px;
}
.banner-btn{
    background-image: linear-gradient(to right, 
    yellow ,red);
    border: none;
    padding: 16px;
    border-radius: 4px;
    font-weight: 600;
   font-size: 15px;
}
.banner-btn:hover{
    background-color: blueviolet;
    box-shadow: 10px 12px 10px;  
}
/* <!-- mean --> */
.cointainer{
    margin: 100px 100px 100px 100px;
}
.main-cointainer{
    gap: 50px;
    display: flex;
     align-items: center;
}
 .main-title{
     /* font-weight: bold; */
     font-size: 35px;
 }
 .main-des{
    font-size: 12px;
 }
 .font-size{
    font-size: 12px;
 }
 .font-check{
    color: rgb(36, 170, 36);
    
 }
 /* My Plans */
 .plan-header{
    text-align: center;
    margin-top: 50px;
    font-weight: 800;
    font-size: 40px;
    color: orange;
 }
 .plan-continer{
    justify-content: center;
    gap: 100px;
    text-align: center;
    display:  flex;
 }
 .plan-title{
    font-weight: 800;
 }
 .plan-dis{
    font-size: 16px;
    color: gray;
 }
 .plan{
    padding: 15px;
 }
 .plan:hover{
    background: linear-gradient(45deg, red, blue);
    border-radius: 8px;
    box-shadow: 10px 10px 10px;
     
 }
 /* <!-- Linier grident --> */
 .liner-titel{
    font-weight: 900;
    font-size: 35px;
 }
 .grident-continer{

    background: linear-gradient(135deg, orange 60%, cyan);
    margin-top: 80px;
    padding: 50px;
    
 }
 .liner-btn{
    padding:  7px 20px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, red , yellow);
    font-size: 15px;
    font-weight: 800;
 }

 /* <!-- Popular Collection--> */
 .Popular-headers{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color:orange ;
 }
 .Popular-continer{
    text-align: center;
    display: flex;
    gap: 30px;
    margin: 50px 50px 50px 50px;
  
 }
 .Popular{
    background-color: grey;
    padding: 18px;
    border-radius: 7px;
    box-shadow: 15px 20px 10px;
 }
 .Popular:hover{
    background: linear-gradient(50deg, rgb(0, 255, 21) 60%, cyan);
    
 }
 .star:hover{
    color: red;
    
 }
 /* Footer */
 footer{
    background-color: black;
    
 }
 .Future{
    font-size: 35px;
    font-weight: 900;
 }
 .continer{
    gap: 250px;
    padding: 100px 200px 100px  ;
    color: white;
    display: flex;
     
 }
 .footer-text{
    font-size: 12px;

 }
 .Subscribe{
    font-weight: 700;
    font-size: 25px;
 }
 .input-coler{
    padding: 15px;
    background-color: black;
    color: white;
 }
 .footer-btn{
    margin-top: 12px;
    padding: 12px;
    border-radius: 4px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: rgb(71, 71, 227);
    background-image: linear-gradient(to right, rgb(112, 9, 216),rgb(11, 109, 220) )
 }
 .logo{
    height: 20px;
    width: 20px;
    margin: 5px;
 }
  
  
  
  
  
 
 