.banner{
   background-image: url("images/banner/banner2.png");
   background-repeat: no-repeat;
   background-size: cover;
   height: 600px;
   width: 100%;
}
.banner-text{
    padding-top: 90px ;
    margin: auto;
    padding-right: 80px;
    text-align: end;
}
.banner-title{
    font-weight: 900;
    font-size: 50px;
}
.banner-btn{
    background-image: linear-gradient(to right, 
    yellow ,red);
    border: none;
    padding: 16px;
    border-radius: 4px;
    font-weight: 600;
   font-size: 15px;
}
.banner-btn:hover{
    background-color: blueviolet;
    box-shadow: 10px 12px 10px;  
}
/* <!-- mean --> */
.cointainer{
    padding: 100px;
}
.main-cointainer{
    gap: 100px;
    display: flex;
    align-items: center;
}
.img-bg{
    height: 550px;
    width: 500px;
}
 .main-title{
     font-size: 35px;
 }
 .main-des{
    font-size: 12px;
    color: gray;
 }
 .font-size{
    font-size: 12px;
 }
 .font-check{
    color: rgb(36, 170, 36);
    
 }
 /* My Plans */
 .plan-header{
    text-align: center;
    margin-top: 50px;
    font-weight: 800;
    font-size: 40px;
    color: orange;
 }
 .plan-continer{
    justify-content: center;
    gap: 100px;
    text-align: center;
    display:  flex;
 }
 .plan-title{
    font-weight: 800;
 }
 .plan-dis{
    font-size: 16px;
    color: gray;
 }
 .plan{
    padding: 15px;
 }
 .plan:hover{
    background: linear-gradient(45deg, red, blue);
    border-radius: 8px;
    box-shadow: 10px 10px 10px;
     
 }
 /* <!-- Linier grident --> */
  
  
 .liner-titel{
   color: white;
   padding: 20px;
    font-weight: 900;
    font-size: 35px;
 }
 .grident-continer{
     background-image:url("images/watch.png");
     background-position: center;
     background-size: cover;
     position: relative;
     margin-top: 80px;
     padding: 100px;
     transition: 3s;
 }

 .grident-coler{
   height: 100%;
   width: 100%;
   background: linear-gradient(115deg, rgba(0,0,0,0.4)20%,rgba(0,0,0,0.4)25%,rgba(0,23,149,0.6)50%,rgba(255,0,0,0.4)75%,rgba(0,23,149,0.6)100%);
   position: absolute;
   top: 0%;
   left: 0%;
   background-repeat: no-repeat;
   background-size: 100% 100%;
 }


 .grident-continer:hover{
   background: linear-gradient(135deg, rgb(230, 16, 191) 50%, rgb(224, 13, 13));
 }

 .liner-btn{
    padding:  7px 20px;
    margin-left: 30px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, red , yellow);
    font-size: 15px;
    font-weight: 800;
 }

 /* <!-- Popular Collection--> */
 .Popular-headers{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color:orange ;
     
 }
 .camara-img{
    height: 220px;
    width: 220px;
 }
 .Popular-continer{
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 50px;
 }
 .Popular{
    background-color: grey;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 15px 20px 10px;
 }
 .Popular:hover{
    background: linear-gradient(50deg, rgb(0, 255, 21) 60%, cyan);
    
 }
 .star:hover{
    color: red;
    
 }
 /* Footer */
 footer{
    background-color: black;
    
 }
 .Future{
    font-size: 35px;
    font-weight: 900;
 }
 .continer{
    gap: 250px;
    padding: 100px 200px 100px  ;
    color: white;
    display: flex;
     
 }
 .footer-text{
    font-size: 12px;

 }
 .Subscribe{
    font-weight: 700;
    font-size: 25px;
 }
 .input-coler{
    padding: 10px;
    background-color: black;
    color: white;
 }
 .footer-btn{
    margin-top: 12px;
    padding: 12px;
    border-radius: 4px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: rgb(71, 71, 227);
    background-image: linear-gradient(to right, rgb(112, 9, 216),rgb(11, 109, 220) )
 }
 .logo{
    height: 20px;
    width: 20px;
    margin: 5px;
 }
 /* Media queries? *
/* Mobile divise */

 @media only screen and (max-width:888px){
    .main-cointainer,.plan-continer,.Popular-continer,.continer{
        display: block;
    }
    .banner-title{
font-size: 30px;
    }
    .input-coler{
height: 10px;
width: 80px;
    }
    .Popular{
margin-top: 30px;
    }
    .banner-text{
        padding-top: 40px;
    }
    .img-bg{
        height: 300px;
        width: 180px;
    }
    .continer{
      padding: 25px;

    }
    .Popular-headers{
      font-size: 15px;
    }
    .camara-img{
      height: 150px;
      width: 135px;
    }
    .liner-titel{
       
      font-size: 20px;
    }
 }
     
    
   
   
  
  
  
 
 